body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Para que el título esté arriba */
  justify-content: center;
  align-items: center;
  background: #efb8ef;
}

.cuadro {
  width: 300px;
  height: 300px;
  background: white;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
