h1 {
    text-align: center ;
    color: #ffffff;
    background-color: #0A1A3F;
    

}
body{
    background-color: #A7D8F0;
}

button{
    padding: 15px 35px;
    border:none;
    background-color: #0A1A3F;
    color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    transition: .5s ease;
    
}
button:hover {
    transform: translate(15px);

}
.caja{
    width: 500px;
    height: 250px;
      background-color:#0A1A3F;
        border: 5px solid   #ffffff;
        padding: 20px;
        margin: 25px;

        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content:center;

         color:  #ffffff;
      font-size: 18px;
      font-family: Arial, sans-serif;
      border-radius: 20px ;

        }
