/* Estilos para el botón */

button {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #0A1A3F;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #1C2B5A;
    transform: translateY(-3px);
}

/* Estilos para el título */
h2 {
    text-align: center;
    color: #0A1A3F;
    font-family: Arial, sans-serif;
}

/* Estilos para la tabla */
table {
    margin: 0 auto; /* centra la tabla */
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Estilos para las imágenes */
td img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

td img:hover {
    transform: scale(1.1);
}
