body {
    font-family: Arial, sans-serif;
    background-color: #eef6fb;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #0A1A3F;
}

h2 {
    color: #1f3c88;
    margin-top: 20px;
}

h3 {
    color: #444;
}

p {
    font-size: 16px;
}

ul, ol {
    margin-left: 40px;
}

li {
    margin: 5px 0;
}

img {
    display: block;
    margin: 10px auto;
    width: 250px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: darkred;
}
